<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="manifest" href="/manifest.json">

    <meta name="theme-color" content="#5eace0" />

    <!-- 针对safari（iOS）的添加到桌面功能进行相关设置 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="图书搜索">
    <link rel="apple-touch-icon" href="img/icons/book-256.png">

    <!-- IE的设置 -->
    <meta name="application-name" content="图书搜索" />
    <meta name="msapplication-TileColor" content="#222">
    <meta name="msapplication-square70x70logo" content="img/icons/book-72.png" />
    <meta name="msapplication-square150x150logo" content="img/icons/book-144.png" />
    <meta name="msapplication-square310x310logo" content="img/icons/book-256.png" />

    <title>PWA: 豆瓣webapp</title>
</head>

<body>
    <!--头部-->
    <template id='header-c'>
        <div class="header-c">
            <div class="logo">
                豆瓣
            </div>
            <div class="search-box">
                <i class="search" id="search-btn"></i>
                <input type="text" placeholder="关键词查询…" id="search-input">
            </div>
            <div class="goto-pc">
                <img src="images/pc_icon.png" alt="">
            </div>
        </div>
    </template>

    <!---导航-->
    <template id='nav-c'>
        <div class="nav-wrap">
            <ul class="nav">
                <li v-for="item in navList">
                    <a href="javascript:;">
                        <h2 :style="{color:item.color}">{{item.mainTitle}}</h2>
                        <span>{{item.subTitle}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </template>


    <template id='hotMovie'>
        <div class="bangdan">
            <h2 class="main-title">
                <span>豆瓣榜单</span>
                <a href="javascript:;">查看更多</a>
            </h2>
            <div class="list">
                <ul>
                    <li>
                        <div class="left-title"></div>
                        <div class="right-info">
                            <span class="mask"></span>
                            <p>1.肖申克的救赎<span>9.7</span></p>
                            <p>2.霸王别姬<span>9.6</span></p>
                            <p>3.阿甘正传<span>9.5</span></p>
                        </div>
                    </li>
                    <li>
                        <div class="left-title">
                            <span>豆瓣周榜</span>
                            <span>华语口碑剧集</span>
                        </div>
                        <div class="right-info">
                            <span class="mask"></span>
                            <p>1.早餐中国 第三季<span>9.1</span></p>
                            <p>2.霸王别姬<span>8.6</span></p>
                            <p>3.阿甘正传<span>8</span></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </template>
    <template id='movie'>
        <div class="movie">
            <div id="loading" class="loading" v-if="isRequre"></div>
            <h2 class="main-title">
                <span>热映电影</span>
                <a href="javascript:;">查看更多</a>
            </h2>
            <div class="list">
                <ul>
                    <li v-for="item in movieList">
                        <a>
                            <img :src="item.coverImg" alt="">
                        </a>
                        <h3>{{item.title}}</h3>
                        <p class="score">
                            评分：<span>{{item.score}}</span>
                        </p>
                    </li>
                </ul>
            </div>

        </div>
    </template>
    <div class="notication-btn">
        <button id="notification-btn" class="notify-btn">通知</button>
    </div>
    <div id="app" class="main">
        <header-c></header-c>
        <nav-c></nav-c>
        <hot-Movie></hot-Movie>
        <movie></movie>
    </div>
    <div class="footer">
        <div class="footer-nav">
            <ul>
                <li>
                    <a>关于豆瓣</a>
                </li>
                <li><a>意见反馈</a></li>
                <li><a>App下载</a></li>
            </ul>
        </div>
        <div class="coopyright">
            Copyright © 2007-2019
        </div>
    </div>
    <section class="panel">
        <p>
            《金刚川》是由管虎、郭帆、路阳联合执导的抗美援朝题材电影，由张译、吴京、李九霄、魏晨、邓超领衔主演，邓超特别出演，该片于2020年10月23日在中国内地上映 [1-2] 。
            该片纪念中国人民志愿军抗美援朝出国作战70周年，讲述志愿军战士们在敌我力量悬殊的情况下，以血肉之躯顽强拼搏的英勇事迹。
        </p>
    </section>
    <script type="text/javascript" src="./js/vue.js"></script>
    <script type="text/javascript" src="./js/ajax.js"></script>
    <script>
        //定义头部组件
        Vue.component('headerC', {
            template: '#header-c'
        })
        //定义导航组件
        Vue.component('navC', {
            data: function () {
                return {
                    navList: [{
                            mainTitle: '找电影',
                            subTitle: '影院热映',
                            color: '#2384E8'
                        }, {
                            mainTitle: '热播剧',
                            subTitle: '影院热映',
                            color: '#7A6ADB'
                        },
                        {
                            mainTitle: '畅销书',
                            subTitle: '畅销排行',
                            color: '#9F7860'
                        },
                        {
                            mainTitle: '找小组',
                            subTitle: '志趣相投',
                            color: '#2AB8CC'
                        },
                        {
                            mainTitle: '找音乐',
                            subTitle: '新碟榜',
                            color: '#F48F2E'
                        },
                        {
                            mainTitle: '豆品',
                            subTitle: '生活美学',
                            color: '#42BD56'
                        }
                    ]
                }
            },
            template: '#nav-c',
        })
        //定义热门电影组件
        Vue.component('hotMovie', {
            template: '#hotMovie'
        })
        //定义电影组件
        Vue.component('movie', {
            data() {
                return {
                    movieList: [],
                    isRequre: false,
                }
            },
            template: '#movie',
            created() {
                this.fetchMoviesList('/queryMovies')
            },
            methods: {
                /*
                 *获取电影列表信息
                 */
                fetchMoviesList(url) {
                    let cachData;
                    let _this = this;
                    this.isRequre = true;
                    this.fetchDataFromCache(url).then(res => {
                        this.isRequre = false;
                        console.log('从缓存里面拿取到了接口的数据');
                        if (res) {
                            this.movieList = res.data;
                            cachData = res.data;
                        }
                        return this.fetchDataFromRemote(url)
                    }).then(data => {
                        //如果远程的数据跟缓存的数据不一致那么就用远程的数据去重新渲染本地的数据
                        console.log('111111111111');
                        this.isRequre = false;
                        if (JSON.stringify(data) !== JSON.stringify(cachData)) {
                            console.log('如果数据不一致需要进行更新操作');
                            this.movieList = data;
                        }
                    })
                },
                /**
                 * 从远程接口获取数据
                 */
                fetchDataFromRemote(url) {
                    return new Promise((resolve, reject) => {
                        $.ajax({
                            url: url,
                            method: 'get',
                            type: 'json',
                            success(res) {
                                if (res.status) {
                                    resolve(res.data)
                                }
                            },
                            error() {
                                reject
                            }
                        })
                    })
                },
                /**
                 * 从缓存里面获取是否存在接口返回的数据
                 */
                fetchDataFromCache(url) {
                    if ('caches' in window) {
                        return caches.match(url).then(cache => {
                            if (!cache) {
                                return;
                            }
                            return cache.json();
                        });
                    } else {
                        return Promise.resolve();
                    }
                }
            }
        })
        //实例化一个vue
        let app = new Vue({
            el: '#app',
        })
    </script>

    <script type="text/javascript" src="./js/base64util.js"></script>
    <script type="text/javascript" src="./js/index.js"></script>
</body>

</html>